header {
    font-size: large;
    background-color: #f6f8f8;
    border-bottom: 1px solid rgb(217, 217, 217);
    margin: auto;
    height: 70px;
}

.logo {
    font-family: "TypoGraphica";
    color: rgb(0, 0, 0);
    font-size: 40px;
}

#ai_logo {
    color: darkblue;
}

a {
    text-decoration: none;
}

#main_logo {
    width: 90x;
    height: 60px;
    padding-left: 50px;
}

#section1 {
    justify-content: space-evenly;
}

#header_div {
    display: flex;
    justify-content: space-between;
    height: 100%;
}


.flex_div {
      display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
}

.button {
    margin: 13px;
    background-color: #ffffff;
    border: 1px solid #e6eff2;
    padding: 10px 17px;
    border-radius: 12px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 450;              
    font-size: 15px;              
    letter-spacing: 0.4px;    
    transition: background-color 0.15s ease;
}



#signup_button {
    background-color: #0074ff;
    color: rgb(245, 245, 245);
    border: 0px;
    margin-right: 29px;
}

.section {
    width: 100%;
    height: 810px;
    display: flex;
}

#section1_text {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;}


#section1_img {
    width: 50%;
    display: flex;
    flex-direction: row; 

}

.example_pic {
    width: 400px;
    height: 660px;
    margin-left: 0px;
    margin-top: 20px;
    border: 0.5px solid rgb(156, 156, 156);
    border-radius: 30px;
    box-shadow: inset;
}

.huge_bold {
    font-size: 69px;
    font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 800; 
    letter-spacing: -0.01em;
    line-height: 0.02em;
}

.grey_standard {
    font-size: 15p;
    font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(73, 73, 73);
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.6em;
}
#section1_text_wrapper {
    width: 84%;
}


#start_button {
    margin-top: 40px;
    margin-left: 15px;
    padding: 20px 30px;
    background-color: #0074ff;
    color: rgb(255, 255, 255);
    border: 0px;
    size: 15px;
}

#section1_secondary {
    margin-bottom: 50px;
}
#example_1_narrow {
    margin-left: 20px;
    margin-top: 120px;
}

#section_2 {
    background-color: #f9fafb;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 1050px;
}

#step_div {
    width: 80%;
    height:  200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.step {
    width: 29%;
    height: 100%;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    padding-top: 15px;
    padding-bottom: 20px;
}


.step_header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.bold_headline {
    font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.step_larger_text {
     height: 40px;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

.step_smaller_text {
     margin-top: 20px;
     width: 85%;
     margin-left: 20px;
     font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
}

i {
    font-size: 40px;
}
.step-i {
    font-size: 40px;
    padding-left: 24px;
    padding-top: 4px;
}

.step_num {
    font-weight: 800;
    font-size: 30px;
    margin-right: 15px;
    font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #515151;
}

.arrow {
    margin-right: 18px;
}

.example-card {
    display: flex;
    width: 70%;
    border: 3px solid rgb(218, 34, 34);
    margin-top: 50px;
    height: 350px;

    position: relative;
  background: #ffffff;
  border-radius: 24px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}


.example-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at top right,
    rgba(59, 130, 246, 0.25),
    transparent 60%
  );
  pointer-events: none;
}


.blue_bold_text {
    font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #1060b0;
}


#section2_subheader {
    margin-top: 60px;
}
#section2_header {
    margin-top: 18px;
    font-size: 55px;
    font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 800;
    text-align: center;
}

#section2_subtext {
    margin-top: 10x;
    margin-bottom: 25px;
    font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
}

#example_card_text_box {
    width: 40%;
}

#example_examples_card {
    font-size: 20px;
    margin-bottom: 15px;
}


.large_black_bold_text {
    font-size: 30px;
    font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 800;
    color: #131313;
}


#example_eadline {
    margin-bottom: 30px;
}

#example_card_text {
    font-size: 20px;
    font-family: Inter, SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    color: #515151;
}

#example_card_img {
    width: 50%;
    height: 100%;
    margin-left: 80px;
    
}

#example_card_img img {
    width: 700px;
    max-height: 110%;
    display: block;
}

#section3 {
    height: 600px;
    flex-direction: row;
    justify-content: space-between;
}


#section3_text {
    width: 40%;
    padding-left: 6%;}

#section3_cards {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}


#section3_header {
    font-size: 45px;
    padding-top: 100px;
    border: 1px;
    color: #1c1c1c;
}

#section3_c1 {
    margin-top: 15px;
    width: 360px;
    display: flex;
    flex-direction: column;
}
#section3_c2 {
    margin-top: 80px;
    height: 500px;
    width: 360px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.type_card {
    background-color: rgb(222, 241, 255);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    height:  210px;
    margin-bottom: 30px;
    width: auto;
    display: flex;
    flex-direction: column;
    border: 0.3px solid #a9a9a9;
}


.type-card-header {
    height: 20%;
    margin-top: 8%;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.type-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11%;
    padding: 12px;
    background-color: #b3d9ff;
}

.type-header {
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 8%;
    margin-top: 4px;
}

#footer {
    height: 300px;
    background-color: #f9fafb;
}


.type-card-text {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 550;          
    line-height: 1.4;
    letter-spacing: -0.01em;
    margin-left: 8%;
}

#login_button:hover {
    background-color: #dfefff;
    color: #0a56a2;
}

.blue-btn-hover:hover {
    background-color: #1960b7!important;
}
@media (max-width: 1500px) {
    .example_pic {
        width: 340px;
        height: 540px;
    }
  }

  @media (max-width: 1300px) {
    .example_pic {
        width: 340px;
        height: 540px;
    }
    #example_1_narrow {
        display: none;
    }
    #example_1 {
        height: 690px;
        width: 450px;
    }
    #section1_img {
        justify-content: center;
        align-items:  center;
    }
  }
  @media (max-width: 1200px) {
    #section1_primary {
        font-size: 57px;
    }
  }
  
  @media (max-width: 1000px) {

    #section1_primary {
        font-size: 50px;
    }
  }

  @media (max-width: 870px) {
    #example_1 {
        display: none;
    }
    #section1_text {
        width: 100%;
    }
    #section1_img {
        display: none;
    }
  }

  @media (max-width: 1200px) {
    .arrow {
        display: none;
    }
    #step_div {
        flex-direction: column;
    }
    .step {
        width: 80%;
        margin-bottom: 30px;
        height: 120px;
        padding-bottom: 68px;
    }
    .step_smaller_text {
        font-size: 15px;
    }
    .example-card {
        display: none;
    }

  }